@import '@/styles/variables';
@import '@/styles/mixins';

.div{
    min-height: 100vh;
    background-color: $bgColor;
    max-width: 70%;
}
@include media(M) {
    .div{
        max-width: 100%;
    }
}