@use 'variables' as *;
@use 'mixins' as *;
@use 'custom' as *;

@font-face {
  font-family: "vazir";
  src: url("/fonts/Vazir.eot");
  src: url("/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Vazir.woff2") format("woff2"),
    url("/fonts/Vazir.woff") format("woff"),
    url("/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  font-family: "vazir", "roboto", sans-serif !important;
}

.flag {
  position: fixed;
  background-color: transparent;
  border: 0;
  top: 20px;
  z-index: 1;
  padding: 0;
  cursor: pointer;
  width: 70px;
  height: 60px;
}

@media (max-width: 850px) {
  .flag {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}