@import '@/styles/variables';
@import '@/styles/mixins';

.rightpart{
    align-items: center;
    height: 100vh;
    padding: 0 100px;
    position: fixed;
    display: flex;
    top: 0;
    width: 30%;
    transition: all 0.2s;
    z-index: 1;

    .hamburger{
        display: none;
    }
    .rightpart__inner{
        height: 100%;
        @include flexDisplay(space-around,unset,column);
        .logo{
            margin-top: 40px;
            white-space: nowrap;
        }
        ul{
            padding: 30px 0;
            li{
                display: flex;
                align-items: center;
                gap: 5px;
                margin: 30px 0;
                transition: all 0.2s;
                width: fit-content;
                &:hover{
                    letter-spacing: 1.7px;
                    font-weight: bold;
                    cursor: pointer;
                }
            };
        }
    }
    footer p{
        @include textStyle(12px,400,$blacklightColor)
    }
}
@include media(M) {
    .rightpart{
        transition: all 0.2s ease-in;
        width: 100vw;
        padding: 0;
        &:dir(rtl) {
            right: -100%;
        }
        &:dir(ltr) {
            left: -100%;
        }
        .tsparticles{
            canvas{
                width: 100% !important;
            }
        }
        .rightpart__inner{
            align-items: center;
            width: 100%;
        }
        button{
            right: auto;
            left: 10px;
        }
        .hamburger{
            display: flex;
            right: 10px;
        }
    }
}
@include media(L){
    :dir(rtl).rightpart{
        padding-right: 40px;
    }
    :dir(ltr).rightpart{
        padding-left: 40px;
    }
}